* {
  background-color: rgb(255, 183, 183);
  padding: 0;
  margin: 0;
  position: relative;
  font-size: 1em;
  font-family: 'Inconsolata', monospace;

}

body {
  display: grid;
  grid-template-columns: 150px 500px auto;
  background-color: #2196F3;
  padding: 10px;
}

button {
  background-color:white;
  display: block;
  padding: 7px 35px;
  border: 3px solid black;
  cursor: pointer;
}

#chat-container {
  display:flex;
  box-sizing: border-box; 
  border:solid;
  position: relative;
  direction: ltr;
}

#nickname-container {
  width: 50%;
  bottom: 0px;
  margin: auto;
  padding: 1em;
}

#send-container {
  width: 50%;
  position: absolute;
  bottom: 0px;
  margin: auto;
  padding: 1em;
}

#message-container {
  max-height: 290px;
  padding: 1em;
  overflow-wrap: break-word;
  overflow: auto;
}

#sketch-holder { 
  grid-column-start: 3;
}

#message-container div {
  border: solid;
  direction: ltr;
}
#message-container div {
  background-color: pink;
  padding: 5px;
}

#message-container div:nth-child(2n) {
  background-color: palevioletred;
}

form button { 
  background: rgb(130, 224, 255); 
}

#sketch-holder {
  padding: 1em;
}